@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

:root {
  --green: #27ae60;
  --black: #444;
  --light-color: #494545;
  --bg-color: #e6e6e6;
  --border: 0.1rem solid rgba(0, 0, 0, 0.2);
  --border2: none;
  --box-shadow: 0.4rem 0.4rem 1rem #ccc, -0.4rem -0.4rem 1rem #fff;
  --box-shadow2: 0.4rem 0.4rem 0.5rem #ccc, -0.4rem -0.4rem 0.5rem #fff;
  --box-shadow-inset: 0.4rem 0.4rem 1rem #ccc inset,
    -0.4rem -0.4rem 1rem #fff inset;
}

.home {
  /* max-width: 960px; */
  font-family: "Poppins", sans-serif;
}

/*
   * Custom translucent site header
   */

.site-header {
  background-color: rgba(0, 0, 0, 0.85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #8e8e8e;
  transition: color 0.15s ease-in-out;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
   * Extra utilities
   */

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}

/*
    Categories
*/

.category-item img {
  box-shadow: var(--box-shadow);
  width: 10rem;
  height: 10rem;
  object-fit: contain;
  transition: all 0.9s ease-out;
}

.category-item img:hover {
  border-radius: 100px;
  box-shadow: 0 0 9px 4px rgba(92, 184, 92, 0.8);
}

.products-title-section a {
  display: inline-block;
}

/*
    Header with background
*/

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url("https://source.unsplash.com/LvySG1hvuzI/1920x1080");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
